# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
/public
/_site
/_deploy
Rakefile
/.idea
.DS_Store
.sass-cache
.jekyll-metadata
serve.bat
serve.sh